.sidebar {
  width:200px;
  height:100%;
  position:absolute;
  margin:25px;
  padding:10px 0px 20px 0px;
  border:1px solid #111;
  border-radius:4px;

}

.sidebar div {
  font-size:16px;
  text-align:center;
  position:relative;
  height:40px;
  margin-top:10px;
  overflow:hidden;
  width:90%;
  margin-left:5%;
  }